$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin on-small-screens {
  @media only screen and (max-width: #{$sm - 1}) {
    @content;
  }
}

@mixin on-medium-screens {
  @media only screen and (min-width: #{$sm}) and (max-width: #{$md - 1}) {
    @content;
  }
}

@mixin on-large-screens {
  @media only screen and (min-width: #{$md}) {
    @content;
  }
}
