$imageSize: 80px;

.container {
  flex-shrink: 0;
  aspect-ratio: 1;
  height: $imageSize;
  border-radius: var(--radius-full);
}

.avatar {
  object-fit: cover;
  box-shadow: var(--shadow-md);
}

.placeholder {
  border-radius: var(--radius-full);
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  box-shadow: var(--shadow-md);
  aspect-ratio: 1;
}
