.header {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--spacing-sm) var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-200);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-black);
  margin: 0;
}
