.spinner {
  border: 3px solid var(--color-gray-200);
  border-top-color: var(--color-black);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.sm {
  width: 18px;
  height: 18px;
  border-width: 3px;
}

.md {
  width: 40px;
  height: 40px;
  border-width: 3px;
}

.lg {
  width: 56px;
  height: 56px;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
